<template>
    <style>
        /*global*/
        h1 { margin: 0}

        /*layout*/
        .image-upload {
            width: 100%;
            height: 50px;
        }

        .image-upload-option {
            width: 50%;
            height: 100%;
            float: left;
        }

        /*skin*/
        .image-upload {
            border: 4px black dashed;
        }

        .image-upload-option:first-child {
            border-right: 4px black dashed;
            box-sizing: border-box;
        }

        [dragging] {
            background-color: #364119;
            color: white;
            text-align: center;
        }

        /* Set this as absolute so we don't have problems
           when it's hovered because it will trigger 'dragleave'.
           And this will cause our dragging background to dissappear.
         */
        .drop-zone {
            position: absolute;
        }
    </style>
    <div class="image-upload">
        <div class="input-field image-upload-option"><input type="file" multiple></div>
        <div id="drag" class="image-upload-option"><h1 class="drop-zone">drop here</h1></div>
    </div>
</template>